table#categoryDiscountTable {
  margin: auto;
  width: 260px;
  color: #000000;
  border: 1px solid #73B013;
  padding: 0;
  table-layout: fixed;
}
#categoryDiscountTable td {
  text-align: center;
}

tr#categoryDiscountTableHeaders{
  background-color: #73B013;
  color: #FFFFFF;
}

td.categoryDiscountCondition, td.categoryDiscountDiscount {
  width: 50%;
}

tr.categoryDiscountOddRow {
  background-color: #FFFFFF;
}
tr.categoryDiscountEvenRow {
  background-color: #CCFFB3;
}